.paragraph {
  margin: 0;
}

.paragraph14 {
  font-size: 14px;
  line-height: 24px;
}

.paragraph16 {
  font-size: 16px;
  line-height: 24px;
}

.paragraph18 {
  font-size: 18px;
  line-height: 29px;
}
